In [1]:
# import required libraries
import numpy as np
import pandas as pd

Check out this link for more information about our data
http://archive.ics.uci.edu/ml/datasets/Adult

In [2]:
# creating a list of column headers to be used for our data
column_headers = ['age', 'workclass', 'fnlwgt', 'education', 
                  'education-num', 'marital-status', 'occupation', 
'relationship', 'race', 'sex', 'capital-gain', 'capital-loss' , 
                'hours-per-week', 'native-country', 'prediction']

In [3]:
# load the data into a dataframe called 'df'
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names=column_headers)

In [4]:
# show the first 5 columns of our dataframe
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# more information about our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
prediction        32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
# check the number of rows x columns in our dataset 
df.shape

(32561, 15)

In [7]:
# check the unique values of marital-status
df['marital-status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [8]:
# check the frequency of the uniqe values in marital-status
df['marital-status'].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

In [9]:
df.education.value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [10]:
# view descriptive statistics for our data
df.describe(include='all')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,prediction
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [11]:
# view the columns in our dataset
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'prediction'],
      dtype='object')

In [12]:
import pandas_profiling as pp

In [13]:
# the profile report of our dataframe has rich insights on our dataset
pp.ProfileReport(df)

In [14]:
# check correlation of numerical variables against each other
df.corr()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
age,1.000000,-0.076646,0.036527,0.077674,0.057775,0.068756
fnlwgt,-0.076646,1.000000,-0.043195,0.000432,-0.010252,-0.018768
education-num,0.036527,-0.043195,1.000000,0.122630,0.079923,0.148123
capital-gain,0.077674,0.000432,0.122630,1.000000,-0.031615,0.078409
capital-loss,0.057775,-0.010252,0.079923,-0.031615,1.000000,0.054256
hours-per-week,0.068756,-0.018768,0.148123,0.078409,0.054256,1.000000

In [15]:
# check the columns
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'prediction'],
      dtype='object')

In [16]:
# check the row indexes (row numbers)
df.index

RangeIndex(start=0, stop=32561, step=1)

In [17]:
# get the exact values in our dataframe
df.values

array([[39, ' State-gov', 77516, ..., 40, ' United-States', ' <=50K'],
       [50, ' Self-emp-not-inc', 83311, ..., 13, ' United-States',
        ' <=50K'],
       [38, ' Private', 215646, ..., 40, ' United-States', ' <=50K'],
       ...,
       [58, ' Private', 151910, ..., 40, ' United-States', ' <=50K'],
       [22, ' Private', 201490, ..., 20, ' United-States', ' <=50K'],
       [52, ' Self-emp-inc', 287927, ..., 40, ' United-States', ' >50K']],
      dtype=object)

In [18]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
# extract row 2 to 8
df.iloc[2:9]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,prediction
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K

In [20]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'prediction'],
      dtype='object')

In [21]:
# renaming a column and make changes permanent
df.rename(columns={'fnlwgt':'final_weight'}, inplace=True)
df.columns

Index(['age', 'workclass', 'final_weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'prediction'],
      dtype='object')

In [22]:
# drop columns and make changes permanent
df.drop(['capital-gain', 'capital-loss'], axis=1, inplace=True)

In [23]:
df.columns

Index(['age', 'workclass', 'final_weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'hours-per-week', 'native-country', 'prediction'],
      dtype='object')

In [24]:
# drop duplicate values and make changes permanent
df.drop_duplicates(keep=False, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32510 entries, 0 to 32560
Data columns (total 13 columns):
age               32510 non-null int64
workclass         32510 non-null object
final_weight      32510 non-null int64
education         32510 non-null object
education-num     32510 non-null int64
marital-status    32510 non-null object
occupation        32510 non-null object
relationship      32510 non-null object
race              32510 non-null object
sex               32510 non-null object
hours-per-week    32510 non-null int64
native-country    32510 non-null object
prediction        32510 non-null object
dtypes: int64(4), object(9)
memory usage: 3.5+ MB

In [26]:
# replace all question marks with null values
df.replace(" ?", np.nan, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32510 entries, 0 to 32560
Data columns (total 13 columns):
age               32510 non-null int64
workclass         30674 non-null object
final_weight      32510 non-null int64
education         32510 non-null object
education-num     32510 non-null int64
marital-status    32510 non-null object
occupation        30667 non-null object
relationship      32510 non-null object
race              32510 non-null object
sex               32510 non-null object
hours-per-week    32510 non-null int64
native-country    31929 non-null object
prediction        32510 non-null object
dtypes: int64(4), object(9)
memory usage: 3.5+ MB

In [27]:
# identify all the null values per column
# not you can also use the df.info() as above to view the null values
df.isnull().sum()

age                  0
workclass         1836
final_weight         0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
hours-per-week       0
native-country     581
prediction           0
dtype: int64

In [28]:
# calculate the average age
avg_age = df['age'].mean()
avg_age

38.59083358966472

In [29]:
# replace blank values with the average age calculated above and make the changes permanent
# remember that our age column does not have null values, so running this cell won't make any change
# this is just a demonstration so that you'll know how to deal with null values in numerical variables when you get such a problem
df['age'].replace(np.nan, avg_age, inplace=True)

In [30]:
df.head()

,age,workclass,final_weight,education,education-num,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [31]:
df.describe()

                age  final_weight  education-num  hours-per-week
count  32510.000000  3.251000e+04   32510.000000    32510.000000
mean      38.590834  1.897856e+05      10.082775       40.444725
std       13.635334  1.055673e+05       2.571038       12.345429
min       17.000000  1.228500e+04       1.000000        1.000000
25%       28.000000  1.178188e+05       9.000000       40.000000
50%       37.000000  1.783545e+05      10.000000       40.000000
75%       48.000000  2.369888e+05      12.000000       45.000000
max       90.000000  1.484705e+06      16.000000       99.000000

In [32]:
# check the frequency of the uniqe values in workclass in percentage
df.workclass.value_counts(normalize=True)

 Private             0.738313
 Self-emp-not-inc    0.082774
 Local-gov           0.068234
 State-gov           0.042316
 Self-emp-inc        0.036383
 Federal-gov         0.031297
 Without-pay         0.000456
 Never-worked        0.000228
Name: workclass, dtype: float64

In [33]:
df['workclass'].value_counts()

 Private             22647
 Self-emp-not-inc     2539
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [34]:
df.isnull().sum()

age                  0
workclass         1836
final_weight         0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
hours-per-week       0
native-country     581
prediction           0
dtype: int64

In [35]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [36]:
# replace null values in workclass with 'Private'
df['workclass'].replace(np.nan, ' Private', inplace=True)

In [37]:
df.workclass.value_counts()

 Private             24483
 Self-emp-not-inc     2539
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [38]:
df['workclass'].describe(include='all')

count        32510
unique           8
top        Private
freq         24483
Name: workclass, dtype: object

In [39]:
df.describe()

                age  final_weight  education-num  hours-per-week
count  32510.000000  3.251000e+04   32510.000000    32510.000000
mean      38.590834  1.897856e+05      10.082775       40.444725
std       13.635334  1.055673e+05       2.571038       12.345429
min       17.000000  1.228500e+04       1.000000        1.000000
25%       28.000000  1.178188e+05       9.000000       40.000000
50%       37.000000  1.783545e+05      10.000000       40.000000
75%       48.000000  2.369888e+05      12.000000       45.000000
max       90.000000  1.484705e+06      16.000000       99.000000

In [40]:
df.occupation.describe(include='all')

count               30667
unique                 14
top        Prof-specialty
freq                 4132
Name: occupation, dtype: object

In [41]:
df.occupation.value_counts()

 Prof-specialty       4132
 Craft-repair         4089
 Exec-managerial      4064
 Adm-clerical         3766
 Sales                3650
 Other-service        3285
 Machine-op-inspct    1996
 Transport-moving     1597
 Handlers-cleaners    1368
 Farming-fishing       990
 Tech-support          926
 Protective-serv       649
 Priv-house-serv       146
 Armed-Forces            9
Name: occupation, dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32510 entries, 0 to 32560
Data columns (total 13 columns):
age               32510 non-null int64
workclass         32510 non-null object
final_weight      32510 non-null int64
education         32510 non-null object
education-num     32510 non-null int64
marital-status    32510 non-null object
occupation        30667 non-null object
relationship      32510 non-null object
race              32510 non-null object
sex               32510 non-null object
hours-per-week    32510 non-null int64
native-country    31929 non-null object
prediction        32510 non-null object
dtypes: int64(4), object(9)
memory usage: 3.5+ MB

In [43]:
df.describe(include='all')

,age,workclass,final_weight,education,education-num,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,prediction
count,32510.000000,32510,3.251000e+04,32510,32510.000000,32510,30667,32510,32510,32510,32510.000000,31929,32510
unique,NaN,8,NaN,16,NaN,7,14,6,5,2,NaN,41,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,United-States,<=50K
freq,NaN,24483,NaN,10485,NaN,14962,4132,13179,27771,21758,NaN,29132,24673
mean,38.590834,NaN,1.897856e+05,NaN,10.082775,NaN,NaN,NaN,NaN,NaN,40.444725,NaN,NaN
std,13.635334,NaN,1.055673e+05,NaN,2.571038,NaN,NaN,NaN,NaN,NaN,12.345429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,28.000000,NaN,1.178188e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
50%,37.000000,NaN,1.783545e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
75%,48.000000,NaN,2.369888e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99.000000,NaN,NaN

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32510 entries, 0 to 32560
Data columns (total 13 columns):
age               32510 non-null int64
workclass         32510 non-null object
final_weight      32510 non-null int64
education         32510 non-null object
education-num     32510 non-null int64
marital-status    32510 non-null object
occupation        30667 non-null object
relationship      32510 non-null object
race              32510 non-null object
sex               32510 non-null object
hours-per-week    32510 non-null int64
native-country    31929 non-null object
prediction        32510 non-null object
dtypes: int64(4), object(9)
memory usage: 3.5+ MB

In [45]:
df.columns

Index(['age', 'workclass', 'final_weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'hours-per-week', 'native-country', 'prediction'],
      dtype='object')

In [46]:
# create a list of categorical columns in our dataset

catcol = ['workclass', 'education','marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'prediction']

# create dummy variables for all the categories listed above
# you'll notice that the number of columns have increased from 13 to 105
df = pd.get_dummies(df, catcol)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32510 entries, 0 to 32560
Columns: 105 entries, age to prediction_ >50K
dtypes: int64(4), uint8(101)
memory usage: 4.4 MB

In [48]:
df.columns.values

array(['age', 'final_weight', 'education-num', 'hours-per-week',
       'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay',
       'education_ 10th', 'education_ 11th', 'education_ 12th',
       'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th',
       'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc',
       'education_ Bachelors', 'education_ Doctorate',
       'education_ HS-grad', 'education_ Masters', 'education_ Preschool',
       'education_ Prof-school', 'education_ Some-college',
       'marital-status_ Divorced', 'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed', 'occupation_ Adm-clerical',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving', 'relationship_ Husband',
       'relationship_ Not-in-family', 'relationship_ Other-relative',
       'relationship_ Own-child', 'relationship_ Unmarried',
       'relationship_ Wife', 'race_ Amer-Indian-Eskimo',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other',
       'race_ White', 'sex_ Female', 'sex_ Male',
       'native-country_ Cambodia', 'native-country_ Canada',
       'native-country_ China', 'native-country_ Columbia',
       'native-country_ Cuba', 'native-country_ Dominican-Republic',
       'native-country_ Ecuador', 'native-country_ El-Salvador',
       'native-country_ England', 'native-country_ France',
       'native-country_ Germany', 'native-country_ Greece',
       'native-country_ Guatemala', 'native-country_ Haiti',
       'native-country_ Holand-Netherlands', 'native-country_ Honduras',
       'native-country_ Hong', 'native-country_ Hungary',
       'native-country_ India', 'native-country_ Iran',
       'native-country_ Ireland', 'native-country_ Italy',
       'native-country_ Jamaica', 'native-country_ Japan',
       'native-country_ Laos', 'native-country_ Mexico',
       'native-country_ Nicaragua',
       'native-country_ Outlying-US(Guam-USVI-etc)',
       'native-country_ Peru', 'native-country_ Philippines',
       'native-country_ Poland', 'native-country_ Portugal',
       'native-country_ Puerto-Rico', 'native-country_ Scotland',
       'native-country_ South', 'native-country_ Taiwan',
       'native-country_ Thailand', 'native-country_ Trinadad&Tobago',
       'native-country_ United-States', 'native-country_ Vietnam',
       'native-country_ Yugoslavia', 'prediction_ <=50K',
       'prediction_ >50K'], dtype=object)

In [49]:
df.head()

,age,final_weight,education-num,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,prediction_ <=50K,prediction_ >50K
0,39,77516,13,40,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,13,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,40,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,40,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,40,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0