In [3]:
2 ** 2

4

In [4]:
type(2.0)

float

In [5]:
type(2.000)

float

In [6]:
'First experience'

'First experience'

In [12]:
t = True
f = False

In [13]:
t

True

In [20]:
print(t and f)
print(t or f) 
print(not f)
print(not t)

False
True
True
False

In [22]:
3 + 2 == 5

True

In [23]:
3 + 2 != 5

False

In [25]:
name = input("What is your name ")

What is your name Mat

In [26]:
print(name)

Mat

In [27]:
len(name)

3

In [33]:
print(len("Thisis"))
print(len("This is"))
# Len also counts spaces

6
7

In [30]:
# Containers include: lists, tuples, dictionaries, sets, series

In [34]:
# Lists
ages = [23, 34, 63, 88]
kim = ['Andrew', 'male', 67, '4324234', "kim@gmail.com"]

In [35]:
len(ages)

4

In [40]:
kim[-1]

'kim@gmail.com'

In [41]:
jina = "Kinyangarika"
jina[2]

'n'

In [43]:
kim[3:5]

['4324234', 'kim@gmail.com']

In [58]:
# Dictionary
studages = {
    'kim': [2, 23], 
    'jamo': 33,
}

In [59]:
studages['kim']

[2, 23]

In [60]:
studages

{'jamo': 33, 'kim': [2, 23]}