# Lists

In [1]:
# create a list of 6 items
my_list = [1, 2, 3, 'four', 'five', 6.0]

In [2]:
my_list

[1, 2, 3, 'four', 'five', 6.0]

In [3]:
len(my_list)

6

In [5]:
my_list[5] = my_list[5] + 7

In [6]:
my_list

[1, 2, 3, 'four', 'five', 13.0]

In [7]:
# Adding a new item (7) to the list
my_list.append(7)

In [8]:
my_list

[1, 2, 3, 'four', 'five', 13.0, 7]

In [9]:
my_list.append("EIGHT")

In [10]:
my_list

[1, 2, 3, 'four', 'five', 13.0, 7, 'EIGHT']

In [11]:
another_list = ['a', 'b', 'c', 'd']

In [27]:
# Concatenating lists
final_list = my_list + another_list
final_list

[1, 2, 3, 'four', 'five', 13.0, 7, 'EIGHT', 'a', 'b', 'c', 'd']

In [28]:
# Remove from list using index
final_list.pop(8)
final_list

[1, 2, 3, 'four', 'five', 13.0, 7, 'EIGHT', 'b', 'c', 'd']

In [29]:
# Remove from list using element
final_list.remove('c')
my_list

[1, 2, 3, 'four', 'five', 13.0, 7, 'EIGHT']

In [39]:
another_list.reverse()
another_list

['d', 'c', 'b', 'a']

In [40]:
ages = [40, 20, 30, 12, 34, 89]

In [41]:
max(ages)

89

In [42]:
min(ages)

12

In [48]:
# Used to sort in ascending order
ages.sort(reverse=True)
ages

[89, 40, 34, 30, 20, 12]

In [50]:
#Use range to make a list of numbers between 0 and 20
# range() is known as a generator function
list(range(0, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [52]:
# 3rd parameter is the interval of the range
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
# Getting random numbers from a range using randint()
from random import randint 

# generates a random number between 0 and 100
randint(0, 100)

46

In [67]:
# Convert integers to floats using float()
float(randint(0, 1))

0.0

# Dictionaries

In [70]:
bank_incomes = {
    'Manager' : 200000,
    'Assistant Manager' : 150000,
    'Bank Teller' : 100000,
    'Super Intern' : 50000
}

In [71]:
bank_incomes

{'Assistant Manager': 150000,
 'Bank Teller': 100000,
 'Manager': 200000,
 'Super Intern': 50000}

In [82]:
#It is possible to place dictionaries inside lists and vice versae
my_dictlist = [bank_incomes, 'dsffd', 'dfsf']

In [83]:
my_dictlist

[{'Assistant Manager': 150000,
  'Bank Teller': 100000,
  'Manager': 200000,
  'Super Intern': 50000},
 'dsffd',
 'dfsf']

In [78]:
# Lists the keys of the dictionary
bank_incomes.keys()

dict_keys(['Manager', 'Assistant Manager', 'Bank Teller', 'Super Intern'])

In [79]:
# Lists the values of the dictionary
bank_incomes.values()

dict_values([200000, 150000, 100000, 50000])

In [84]:
bank_incomes['Bank Teller']

100000

# Control Statements

In [89]:
age = 20

if age < 20:
    print('You are too young')
elif age == 20:
    print('Awesome!')
else: 
    print('Welcome to Data Science')

Awesome!

In [108]:
marks = int(input('What is your grade: '))

if marks >= 80:
    print('A')
elif marks >= 70:
    print('B')
elif marks >= 60:
    print('C')
elif marks >= 50:
    print('D')
elif marks < 50:
    print('Fail')
else:
    print('Not within range')

What is your grade: 65
C

In [102]:
marks = randint(1, 100)

if marks >= 80:
    print('A')
elif marks >= 70:
    print('B')
elif marks >= 60:
    print('C')
elif marks >= 50:
    print('D')
elif marks < 50:
    print('Fail')
else:
    print('Not within range')
    
print(marks)

A
92